*{
    margin: 0px;
    padding: 0;
}
header{
    background-color: rgb(255, 153, 36);
}
main{
    background-color: bisque;
    display: flex;
    padding-bottom: 600px;
}
footer{
    background-color: cadetblue;
    padding: 64.5px;
} 
h1{
    padding: 50px;
    text-align: center;
    color: rgb(53, 53, 53);
    text-shadow: 0 0 4px white;
}
main > input{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 20px;
    border-color: cadetblue;
    width: 60%;
}
main > p{
    color: rgb(53, 53, 53);
    margin-top: 17.5px;
    margin-left: 100px;
    font-size: 40px;
    text-shadow: 0 0 10px cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lk{
    position: absolute;
    margin-right: 1000px;
    margin-top: 100px;
}
main > button{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 20px;
    border-color: cadetblue;
    width: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 53, 53);
    text-shadow: 0 0 5px rgb(255, 153, 36, 50%);
}
main > img{
    margin-left: 250px;
    block-size: 600px;
}